<tr>
  <td class="py-3 px-4">
    <%= link_to friend.first_name + ' ' + friend.last_name, friend, class:"hover:underline" %>
  </td>
  <td class="py-3 px-4"><%= friend.email %></td>
  <td class="py-3 px-4"><%= friend.phone %></td>
  <td class="py-3 px-4"><%= friend.twitter %></td>
</tr>

