<div class="mx-auto md:w-2/3 w-full">
  <%= render "form", friend: @friend, title: "Edit friend" %>

  <div class="flex items-center justify-end gap-4 mt-3">
    <%= link_to "Show this friend", @friend, class: "underline text-white" %>
    <%= link_to "Back to friends", friends_path, class: "underline text-white" %>
  </div>
</div>
