<div class="mx-auto md:w-2/3 w-full">
  <%= render "form", friend: @friend, title: "New friend" %>
  <%= link_to "Back to friends", friends_path, class: "block mt-3 underline text-white w-full text-right" %>
</div>
